{% extends 'TroiswaPublicBundle::layout.html.twig' %}


{% block content %}

	<!-- Javascript -->
	<script src="{{ asset('bundles/troiswapublic/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<!-- / Javascript -->

	{% for flash in app.session.flashbag.get('notice') %}
		<div class="alert alert-success">
			<h1>{{ flash }}</h1>
		</div>

	{% endfor %}

	<h3>Ajouter un Acteur :</h3>

	{{ form_start(form,{'method':'POST','attr' : {'class':'panel form-horizontal'} }) }}

	<div class="panel-body">
		<div class="row form-group">
			{{ form_label(form.nom,"nom de l'acteur :" ,{'label_attr': { 'class':'col-sm-3 control-label'} } ) }}

			<div class="col-sm-9">
				{{ form_widget(form.nom, {'attr': {'placeholder':'nom', 'class':'form-control '} } ) }}
			</div>

			{{ form_errors(form.nom) }}

		</div>


		<div class="row form-group">
			{{ form_label(form.biographie , 'biographie :' ,{'label_attr': { 'class':'col-sm-3 control-label'} } ) }}
			<div class="col-sm-9">

				{{ form_widget(form.biographie, {'attr': {'placeholder':'biographie', 'class':'form-control ckeditor'} } ) }}

			</div>
			{{ form_errors(form.biographie) }}
		</div>


		<div class="row form-group">
			{{ form_label(form.naissance , 'date de naissance : ' , {'label_attr': { 'class':'col-sm-3 control-label'} } ) }}
			<div class="col-sm-9">
				{{ form_widget(form.naissance, { 'attr': {'placeholder':'dd', 'class':'form-control '} } ) }}
			</div>

			{{ form_errors(form.naissance) }}
		</div>

		<div class="row form-group">
			{{ form_label(form.image.file,"image :" ,{'label_attr': { 'class':'col-sm-3 control-label'} } ) }}
			<div class="col-sm-9">
				{{ form_widget(form.image.file, {'attr': {'placeholder':'photo', 'class':'form-control '} } ) }}
			</div>

			{{ form_errors(form.image.file) }}
		</div>

		<br>

		<div id="select2-colors-examples">
			{{ form_label(form.films , 'cliquez dans le cadre pour choisir des films : ' , {'label_attr': { 'class':'col-sm-3 control-label'} } ) }}
			<div class="select2-success">
				{{ form_widget(form.films, {'id':'films','attr': {'class':'form-control '} } ) }}
			</div>
		</div>

		{{ form_errors(form.films) }}

		<br/>
		<br/>

		<div class="row form-group">
			<div class="col-sm-9">
				{{ form_widget(form.Ajouter, {'attr': { 'class':'btn btn-primary'} }) }}
			</div>

		</div>

	</div>


	{#en fermant un formulauire comme ceci Twig ajoute automatiquement les champs qui ne sont pas la..#}
	{{ form_end(form) }}
	{#sinon fermer en html normal..#}

	{# affiche success #}



	{#<div class=''>#}
	{#{% for article in articles %}#}

	{#<p>{{ article.naissance|date('Y-m-d') }}</p><br>#}
	{#<p>{{ article.nom }}</p><br>#}
	{#<p>{{ article.biographie }}</p><br>#}
	{#<hr>#}

	{#{% endfor %}#}
	{#</div>#}

{% endblock %}
