{% extends 'TroiswaPublicBundle::layout.html.twig' %}

{% block content %}

	{% for flash in app.session.flashbag.get('supp') %}
		<div class="alert alert-success">
			<h1>{{ flash }}</h1>
		</div>
	{% endfor %}

	<div class="page-header">

		<h1 class="col-xs-12 col-sm-6 text-center text-left-sm">
			<i class="fa fa-users"></i>
			Les acteurs
			<span class="label label-danger">{{ acteurs | length }}</span>
		</h1>

		<div class="input-group col-sm-3">
			<span class="input-group-addon"><div class="fa fa-search"></div></span>
			<input type="text" class="form-control" placeholder="Search">
		</div>


	</div>


	<div class="row well">
		<a class="pull-left btn btn-primary btn-md btn-labeled" href="{{ path('troiswa_public_addActor') }}">
			<span class="btn-label icon fa fa-plus"></span>
			Ajouter un acteur
		</a>

	</div>



	<div class="table-primary">


		<div class="table-caption">


			{#pagination:#}
			<div class="navigation">
				{{ knp_pagination_render(acteurs) }}
			</div>

		</div>


		<table border="10" class="table table-bordered">
			<thead>
			<tr>
				<th>Photo</th>
				<th>Nom</th>
				<th>Date de naissance</th>
				<th>Biographie</th>
				<th>Films</th>
				<th>Actions</th>
			</tr>
			</thead>

			<tbody>

			{% for unacteur in acteurs %}

				<tr>
					<td>
						{# PHOTO : lien cliquable vers l'affichage de l'acteur concerné : #}
						<a href="{{ path('troiswa_public_OneActor', {'unActeur_id' :unacteur.id }) }}">

							{% if unacteur.image is not empty %}
								<img class="img" src="{{ asset(unacteur.image.getWebPath() ) }}"
								     style="width:130px; height:auto">
							{% endif %}

						</a>

					</td>
					{# NOM : lien cliquable vers l'affichage de l'acteur concerné : #}
					<td>
						<a href="{{ path('troiswa_public_OneActor', {'unActeur_id' :unacteur.id }) }}">
							<h3>{{ unacteur.nom }}</h3>
						</a>
					</td>

					{# NAISSANCE: #}
					<td>
						{{ unacteur.naissance | date('m/d/Y') }}
					</td>

					{# BIOGRAPHIE: #}
					<td class="smalltext">
						{{ unacteur.biographie | truncate(1000, true, '...') | raw }}
					</td>

					{# FILMS : lien cliquable vers l'affichage du film concerné   : #}
					<td>
						{% for film in unacteur.films %}
							<button class="label label-primary ng-scope fa fa-film">{{ film.titre }}
								({{ film.dateCreation | date('Y') }})
							</button>
						{% endfor %}
					</td>

					<td>
						{# ACTIONS :modifier, supprimer  : #}


						{# AFAIRE corriger probleme firefox button #}
						<a class="label fa fa-pencil"
						   href="{{ path('troiswa_public_editActor', {'unActeur_id' :unacteur.id }) }}">Modifier</a>


						<button class="label fa fa-times removeActor">

							<a href="{{ path('troiswa_public_deleteActor', {'unActeur_id' :unacteur.id }) }}">Supprimer</a>
						</button>

					</td>



					{#{% if unacteur.active == 1 %}#}
					{#<td class="center"><button class="label label-success label-tag">visible</button></td>#}
					{#{% else %}#}
					{#<td class="center"><button class="label label-danger label-tag">non-visible</button></td>#}
					{#{% endif %}#}

				</tr>

			{% endfor %}

			</tbody>
		</table>


	</div>

	<style>
		table {
			table-layout: fixed;
			word-wrap: break-word;
		}
	</style>







{% endblock %}

{% block javascripts %}
	{{ parent() }}



	<script>
		$(document).ready(function ()
		{
			$(".removeActor").click(function (e)
			{
				alert('click');
				e.preventDefault();
				if (confirm("Voulez vous vraiment supprimer cet acteur ?"))
				{

					var link = $(this).children('a');


					$.ajax({
						url: link.attr('href'),
						dataType: "json"
					})
							.done(function (data)
							{
								alert('ajax!');
								link.parents('tr').fadeOut(function ()
								{
									$(this).remove();
								})
							});
				}
				return false;
			})
		});

	</script>
{% endblock javascripts %}
